// Here you can add other styles

.add_usr .card-footer .btn, .usr_profile .card-footer .btn {
    margin-right: 5px;
}

.add_usr .badge{
	width:52px;
}

.usr_list .icon-close{
	color: #20a8d8;
}

.row_head{
	text-transform:capitalize;
}